 .flag{ 
     background-image: url('./flag.svg');
 }
 
.flagWrapp{
    display: none;
    flex-direction: row;
    margin: 5px 0;
}
.flagWrapp::after{
    content: '';
    background-image: url('./flag.svg');
    width: 20px;
    height: 20px;
}